/*=============================================================================

    TABLE OF CONTENTS

    1. Fonts
    2. General elements
    3. Navbar

=============================================================================*/





/*=============================================================================
1. FONTS
=============================================================================*/

body {
  font-family: Inter, sans-serif;
  font-weight: 300;
  color: #4A545A;
}





/*=============================================================================
2. GENERAL ELEMENTS
=============================================================================*/

.bg-primary{
  background-color: #F1F2F5 !important;
}





/*=============================================================================
3. NAVBAR
=============================================================================*/

.sb-sidenav-light .sb-sidenav-menu .nav-link.active, .sb-sidenav-light .sb-sidenav-menu .nav-link.active .sb-nav-link-icon{
  color: #0057A9;
}
