/*=============================================================================

    TABLE OF CONTENTS

    1. Fonts
    2. General elements
    3. Navbar

=============================================================================*/





/*=============================================================================
1. FONTS
=============================================================================*/

body {
  font-family: Inter, sans-serif;
  font-weight: 400;
  color: #4A545A;
}

a{color:#1292EE;}
a:hover {
    color: #127ac7;
    text-decoration: none;
}



/*=============================================================================
2. GENERAL ELEMENTS
=============================================================================*/

.bg-dark{background-color: #212852!important;}

/* Buttons */
.btn-primary{
  background-color: #1292EE;
  border-color: #1292EE;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
  background-color: #127ac7!important;
  border-color: #127ac7!important;
  box-shadow: none!important;
}
.btn-secondary{
  background-color: #0056A9;
  border-color: #0056A9;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #024485!important;
  border-color: #024485!important;
  box-shadow: none!important;
}
.btn-outline-primary{
  background: transparent;
  color: #0056A9;
  border-color: #B5BAC0;
}
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
  background: transparent!important;
  color: #0056A9!important;
  border-color: #0056A9!important;
  box-shadow: none!important;
}

/* Notifications */
.bg-primary{background-color: #1292EE!important;}
.bg-warning{background-color: #FFC34B!important;}
.bg-success{background-color: #369B70!important;}
.bg-danger{background-color: #F14651!important;}





/*=============================================================================
3. NAVBAR
=============================================================================*/

.breadcrumb{
  background-color: #F1F2F5;
}
.sb-sidenav-light{
  background-color: #F1F2F5;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link.active, .sb-sidenav-light .sb-sidenav-menu .nav-link.active .sb-nav-link-icon{
  color: #0057A9;
}
